nose
sphinx
Adafruit-Blinka==8.9.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-requests==1.12.11
adafruit-circuitpython-rgb-display==3.10.19
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.37.0
Adafruit-PureIO==1.1.9
board==1.0
pigpio==1.78
pigpio-encoder==0.2.4
pkg-resources==0.0.0
pyftdi==0.54.0
pyserial==3.5
python-mpd2==3.0.5
pyusb==1.2.1
RPi.GPIO==0.7.1
typing-extensions==4.4.0
